/* FONTS */

@font-face {
    font-family: 'Azoft Sans';
    src: url(../fonts/AzoftSans.otf);
    font-weight: 400;
}

@font-face {
    font-family: 'Azoft Sans Bold';
    src: url(../fonts/AzoftSans-Bold.otf);
    font-weight: 700;
}

/* BASE */

* {
    margin: 0;
    padding: 0;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    
    font-family: 'Azoft Sans';
    font-size: 1.4rem;
}

.container {
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

/* MAP */

.map {
    padding: 2rem;
    padding-top: 5rem;
    background-color: #16252a;
}

.map__title {
    font-size: 4rem;
    font-weight: 400;
    color: #d3dee7;
    text-transform: uppercase;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.map__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 4rem;
}

.map__img {
    width: 100%;
    height: auto;
}

.map__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27rem;
    color: #fff;
    border-radius: 10px;
    background-color: #0e191d;
}

.map__info--top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid;
    border-image: url('../img/border-dashed.png') 2 fill;
}

.map__info__icon {
    width: 7rem;
    height: auto;
}

.map__value {
    font-size: 9rem;
    line-height: 8rem;
}

.map__unit {
    font-size: 3rem;
}

.map__link {
    margin: 2.6rem 0;
}

/* SECTION INFO */

.info {
    padding: 7rem 0;
}

.info__wrap {
    display: flex;
    flex-wrap: wrap;
}

.info__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ededed;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: hidden;
}

.info__block:not(:last-child) {
    margin-bottom: 3rem;
}

.info__block-1 {
    flex: 0 0 47rem;
    margin-right: 3rem;
}
.info__block-2 {
    flex: 0 0 37rem;
    margin-right: 3rem;
}

.info__block-3 {
    flex: 0 0 27rem;
}

.info__block-4 {
    padding-right: 26rem;
}

.info__block h3 {
    font-size: 2rem;
    font-weight: 400;
    padding: 3rem;
    padding-bottom: 0rem;
}

.info__block p {
    font-family: "Tahoma";
    line-height: 1.7;
    color: rgb(132, 132, 132);
    padding: 2rem 2.5rem 3rem 3rem;
}

.info__block img {
    width: 100%;
    height: auto;
}

.info__links {
    padding: 0 3rem;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 75em) {
    .info__block-1 {
        flex: 3;
        margin-right: 3rem;
    }
    .info__block-2 {
        flex: 2.5;
        margin-right: 3rem;
    }
    .info__block-3 {
        flex: 1.5;
    }

    .info__block-4 {
        padding-right: 16rem;
    }
}

@media only screen and (max-width: 56.25em) {
    .info__block-1 {
        flex: 0 0 100%;
        margin-right: 0rem;
    }
    .info__block-2 {
        flex: 3;
        margin-right: 3rem;
        
    }
    .info__block-3 {
        flex: 1.5;
    }

    .info__block-4 {
        padding-right: 0rem;
    }

    .info__block h3 {
        padding-right: 25%;
        line-height: 1.5;
    }
}

@media only screen and (max-width: 37.5em) {
    .info {
        padding: 3rem 0;
    }
    
    .info__wrap {
        flex-direction: column;
    }

    .info__block-2 {
        margin-right: 0;
    }

    .info__block-3 {
        flex-direction: row;
        justify-content: center;
    }

    .info__block h3 {
        padding: 2rem;
        padding-bottom: 0rem;
    }
    
    .info__block p {
        padding: 1.5rem 2rem;
    }

    .info__block img {
        width: 100%;
        height: auto;
    }

    .info__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1.5rem;
        margin-bottom: 0;
    }

    .info__links a{
        margin-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 28.75em) {

    .info__block-3 {
        flex-direction: column;
    }
}




/* BUTTONS */

.btn {
    display: inline-block;  
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 50px;
}

.btn--colored {
    padding: 1.5rem 5.2rem;
    color: #ffffff;
    background: linear-gradient( 0deg, rgb(161,34,234) 0%, rgb(255,42,84) 100%);
}

.btn--colored:hover {
    padding: 1.3rem 5rem;
    border: 2px solid #a122ea;
    color: #a122ea;
    background: #fff;
}

.btn--outline {
    padding: 1.3rem 5rem;
    border: 2px solid #a122ea;
    color: #a122ea;
    background: #fff;
}

.btn--outline:hover {
    padding: 1.5rem 5.2rem;
    border: none;
    color: #ffffff;
    background: linear-gradient(0deg, rgb(161,34,234) 0%, rgb(255,42,84) 100%);
}

/* PROGRESS */

.progress {
    margin: 5rem 0;
}

.progress__bar {
    display: flex;
    align-items: center;
}

.point {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: relative;
}

.point-1 {
    background-color: rgb(161,34,234); 
}

.point-2 {
    background-color: rgb(0,129,241);
}

.point-3 {
    background-color: rgb(255,41,83);
}

.point-4 {
    background-color: rgb(255,115,70);
}

.point-5 {
    background-color: rgb(255,186,61);
}

.point-6 {
    background-color: rgb(104,220,0);
}

.point-7 {
    background-color: rgb(0,202,148);
}

.point-8 {
    background-color: rgb(0,185,247);
}

.line {
    position: relative;
    width: 86px;
    height: 2px;
    background-color: rgb(173,173,173);
}

.line--colored {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
}

.line-2 {
    background-color: rgb(0,129,241);
}

.line-3 {
    background-color: rgb(255,41,83);
}

.line-4 {
    background-color: rgb(255,115,70);
}

.line-5 {
    background-color: rgb(255,186,61);
}

.line-6 {
    background-color: rgb(104,220,0);
}

.line-7 {
    background-color: rgb(0,202,148);
}

.line-8 {
    background-color: rgb(0,185,247);
}

.point--inactive {
    background-color: rgb(173,173,173);
}

.line--inactive {
    background-color: rgb(173,173,173);
}

.point__value {
    position: absolute;
    top: 20px;
    left: -5px;
    color: #fff;
}
